/* Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Définition des élèments principaux */

body 
{
	
}
#bloc_page 
{
	/* on fixe la largeur du site */
		/* width: 900px; 
		On choisit de passer en pourcentage*/
		width: 50%;
		margin: auto;
}
#titre_principal
{

}
#logo
{

}
header
{

}
nav
{

}
#banniere_image
{

}
#banniere_description
{

}
.bouton_rouge
{

}
section
{

}
.ico_categorie
{

}
article
{

}
aside
{

}
.fleche_bulle
{

}
footer
{

}
#tweet
{

}
#mes_photos
{

}
#mes_amis
{

}
#listes_amis
{

}