/* Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Définition des élèments principaux */

body 
{
	/* Définition de l'image de fond */
	background-image: url(images/fond_jaune.png);
	/* Définition de la police par défaut */
	font-family: 'Trebuchet MS', Arial, sans-serif;
	/* Définition de la couleur de la police par défaut */
	color: #181818;
}
#bloc_page 
{
	/* on fixe la largeur du site */
		/* width: 900px; 
		On choisit de passer en pourcentage*/
		width: 50%;
		margin: auto;
}
#titre_principal
{
	/* Flex du titre principal*/
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

}
#logo
{
	
}
header h1
{
	/* Définition d'une police personnalisée */
	font-family: BallparkWeiner, serif;
	font-weight: normal;
	/* transformation du titre en élèment block */
	display: inline-block;
	padding: 0;
	margin: 0;
}
header h2
{
	/* Définition d'une police personnalisée */
	font-family: Dayrom, serif;
	font-weight: normal;
	display: block;
	padding: 0;
	margin: 0;
}
header
{
	display: flex;
	/* Alignement horizontal de part et d'autre*/
	justify-content: space-between;
	/* Alignement vertical */
	align-content: flex-start;
	

}
nav
{
	/*margin: auto;*/
}
nav li
{
	display: inline-block;

}
#banniere_image
{

}
#banniere_description
{

}
.bouton_rouge
{

}

/* Définition d'une police personnalisée sur les menus H1 de section, footer et nav*/
section h1, footer h1, nav a
{
	font-family: Dayrom, serif;
	font-weight: normal;
	/* On transforme le texte en majuscules*/
	text-transform: uppercase;

}
.ico_categorie
{

}
article
{

}
aside
{

}
.fleche_bulle
{

}
footer
{

}
#tweet
{

}
#mes_photos
{

}
#mes_amis
{

}
#listes_amis
{

}